.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(87, 248, 0);
}
.logo{
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding-left: 20px;
    font-family:cursive;
    color: rgb(18, 17, 17);
}
.nav-items a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 20px;
}
.nav-items a:hover{
    /* background: rgb(69, 114, 2); */
    border: none;
    border-radius: 10px;
    color: rgb(201, 131, 10);
    text-decoration: underline;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(20, 19, 19);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button {
    background-color: rgb(87, 248, 0);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: lightgreen;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}


.footer{
    background: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}
.footer a{
    color: antiquewhite;
    text-decoration: none;
}